<div ng-controller="lyricCtrl">
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gameViewMain">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gameWindow">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nowPlaying"> All I Want For Christmas by Mariah Carey</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 playerScore"> Score: 10/100</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 musicPlayer">
                    <audio id="music" preload="true">
                        
                    </audio>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 audioplayer">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="pButton" ng-click="play()">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </div>
                            <div class="timeline col-lg-10 col-md-10 col-sm-10 col-xs-10 ">    
                                <div draggable></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   </div>
</div>