<div ng-controller="lyricCtrl" class="border">
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 songDial">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 songList">
                <p>Hands To Myself - Selena Gomez</p>
                <p>Not Myself - Christina Aguilera</p>
                <p>Say Love - JoJo</p>
                <p>Masterpiece - Jazmine Sullivan</p>
                <p>oui - Jeremih</p>
            </div>
        </div>
    </div>
   </div>
</div>